In [1]:
"""
Given the following dataset, classify customer value based on order frequency. 

You can assign them a score of 1-3, with 1 being least valuable and 3 being most valuable. 

For example, a customer who has made 10 purchases is more valuable than one that has made 
2 purchases across the same time period.

For more information regarding customer lifetime value you can read 
this post: https://www.shopify.com/blog/customer-lifetime-value

The solution will be written in Python for premium users. 

Note that this question is a part of a series of questions that will build off of each other.
"""
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('fivethirtyeight')

data = pd.read_csv('./data/Online_Retail.csv')
data.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
19635,537879,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,4,12/9/10 8:34,7.95,14243.0,United Kingdom
27445,538558,22384,LUNCH BAG PINK POLKADOT,10,12/13/10 10:58,1.65,13069.0,United Kingdom
22866,538177,22529,MAGIC DRAWING SLATE GO TO THE FAIR,1,12/10/10 9:51,0.85,NaN,United Kingdom
3096,536597,21739,COSY SLIPPER SHOES SMALL GREEN,1,12/1/10 17:35,2.95,18011.0,United Kingdom
46308,540352,84952A,CLEAR LOVE BIRD T-LIGHT HOLDER,2,1/6/11 14:27,1.66,NaN,United Kingdom
20056,538008,22908,PACK OF 20 NAPKINS RED APPLES,24,12/9/10 12:17,0.85,12683.0,France
30998,538886,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/14/10 16:07,1.65,13846.0,United Kingdom
46025,540349,21754,HOME BUILDING BLOCK WORD,3,1/6/11 14:07,5.95,15379.0,United Kingdom
54348,540943,21495,SKULLS AND CROSSBONES WRAP,25,1/12/11 12:31,0.42,17841.0,United Kingdom
9285,537196,22427,ENAMEL FLOWER JUG CREAM,1,12/5/10 13:55,5.95,15426.0,United Kingdom